
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/01/2015, 10:45:50
    Author     : andrerezende
*/



@font-face {
    font-family: 'DistProTh';
    src: url("/ChildMonitor/Fonts/DistProTh.otf") format("opentype");
}

/*@font-face {
    font-family: 'Montserrat';
    src: url("/ChildMonitor/Fonts/MontserratThin.otf") format("opentype");    
}*/

@font-face {
    font-family: 'Montserrat';
    src: url("/ChildMonitor/Fonts/MontserratLight.otf") format("opentype");    
}

@font-face {
    font-family: 'WinterthurCondensed';
    src: url("/ChildMonitor/Fonts/WinterthurCondensed.ttf") format("opentype");    
}


@font-face {
    font-family: 'Lekton-Regular';
    src: url("/ChildMonitor/Fonts/Lekton-Regular.ttf") format("opentype");    
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.txb {
    font: 100% 'WinterthurCondensed', sans-serif;  
    font-weight: bold;    
    font-size: 170%;    
    text-align: center;   
    margin: 5px 5px;
    color: #ffffff;
    line-height: 100%;    
    text-shadow: 0 4px 4px rgba(255,255,255,.35);
}
.tx {
    font: 100% 'WinterthurCondensed', sans-serif;  
    font-weight: lighter;    
    font-size: 150%;    
    text-align: center;   
    margin: 5px 5px;
    color: #ffffff;
    line-height: 100%;    
    text-shadow: 0 4px 4px rgba(255,255,255,.35);
}

txbutton {
    font: 'Source Sans Pro', sans-serif;  
    font-weight: normal;    
    font-size: 120%;    
    text-align: center;   
    margin: 30px 30px;
    color: #ffffff;
    line-height: 200%;    
    text-shadow: 0 4px 4px rgba(255,255,255,.35);
}

.form-control {
  display: block;
  width: 100%;
  height: 25px;
  padding: 5px 5px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
/******************************************************************************/
.formdlg {
  display: block;
  width: 100%;
  height: 20px;
  padding: 2px 2px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.formdlg:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.formdlg::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.formdlg:-ms-input-placeholder {
  color: #999;
}
.formdlg::-webkit-input-placeholder {
  color: #999;
}
.formdlg[disabled],
.formdlg[readonly],
fieldset[disabled] .formdlg {
  background-color: #eee;
  opacity: 1;
}
.formdlg[disabled],
fieldset[disabled] .formdlg {
  cursor: not-allowed;
}
textarea.formdlg {
  height: auto;
}
/******************************************************************************/
.backBlack 
{
  background-color: rgba(0, 0, 0, 0.1); 
  background:transparent;
  color: #ffffff;
}    
/******************************************************************************/
/*3D button
 <a id=\"idStartService\" href=\"#\" class=\"s3d forrst\">Start Service</a>*/
a.s3d  {
    clear: both;
    
    -webkit-border-radius:3px;
       -moz-border-radius:3px;
            border-radius:3px;
            
    -webkit-box-shadow:0 4px 5px rgba(0,0,0,.3);
       -moz-box-shadow:0 4px 5px rgba(0,0,0,.3);
            box-shadow:0 4px 5px rgba(0,0,0,.3);
            
    display: inline-block !important;
    font: 700 13px/36px 'Arial', Helvetica, Clean, sans-serif;
    height: 26px;
    margin: 0 0 10px;
    padding: 0 10px 11px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255,255,255,.35);
    width: 125px; }

 
a.forrst {
    background: #58853e;
    background: -webkit-gradient(linear, 0 0, 0 0, from(#58853e), to(#3c592a));
    background: -moz-linear-gradient(#58853e, #3c592a);
    background: linear-gradient(#58853e, #3c592a);
    border-top: 1px solid #99b489;
    color: rgba(22,33,16,1); }
    
a.forrst:active {
    background: #3c592a;
    background: -webkit-gradient(linear, 0 0, 0 0, from(#3c592a), to(#58853e));
    background: -moz-linear-gradient(#3c592a, #58853e);
    background: linear-gradient(#3c592a, #58853e); }
/*////////////////////////////////////////////////////////////////////////////////*/
    div.glass{
    /* background styles */
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    margin: 5px 5px;
    width: 120px; 
    background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.1)); 
    text-align: center; 
    }
    
    div.glass:hover {
     background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.1));
    }
   
    div.glass:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
    }
    

/*////////////////////////////////////////////////////////////////////////////////*/
.buttonmap {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  height: 42px;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  font: normal 20px/normal "Antic", Helvetica, sans-serif;
  color: rgba(140,140,140,1);
  text-decoration: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(40,40,40,0.4);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.buttonmap:hover {
  color: rgba(181,181,181,1);
  background: rgba(0,0,0,0.4);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.buttonmap:focus {
  width: 213px;
  cursor: default;
  padding: -13px 20px 0;
  color: rgba(255,255,255,1);
  -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

